.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    margin-top: 5px;
    background-color: rgba(98, 98, 98, 0.74);
    color: #fff;
    padding: 5px;
    border-radius: 5px;

    position: absolute;
    z-index: 1;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 6%;
    /*margin-left: -5px;*/
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(98, 98, 98, 0.74) transparent;
}